.panel{
    background-size: cover;
    background-position: center;
    background-position-y: 0%;
    border-radius: 10px;
    height: 40vh;
}

.first{
    width: 90vw;
}

.second{
    flex: 2;
    background-position-y: 20%;
}

.third{
    flex: 1;
}

strong{
    font-size: xx-large;
}