.show{
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translateX(0) !important;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all .75s;
}

@media(prefers-reduced-motion){
    .hidden, .hidden-basic{
        transition: none;
    }
}

.show-basic{
    opacity: 1 !important;
}

.hidden-basic{
    opacity: 0;
    transition: all 1.5s;
}